---
import Layout from "../layouts/Layout.astro"
---

<div class="milaneso">
    <p>Milaneso</p>
</div>

<style>

     .milaneso{

        color: darkblue;
        margin-left: 450px;
        
    }
</style>